@import "tailwindcss";

:root {
  --background: #222222;
  --background2: #1b1b1b;
  --cinza: #373737;
  --cinza2: #424242;
  --cinzaClick: #646060;
  --branco: #D9D9D9;
  --branco2: #bfbfbf;
  --azul: #008CFF;
  --azulw3: #1A3F7D;
  --azulEscuro: #0E1A2B;
  --azulClaro: #6C8BCF;
  --amarelo: #F2B705;
  --vermelho: #EB155B;
}

body {
  background: var(--background);
  color: var(--branco);
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--cinza);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 10px;
}

/* From Uiverse.io by mrhyddenn
/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: .4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: .4s;
}

input:checked+.slider {
  background-color: #5fdd54;
  border: 1px solid transparent;
}

input:checked+.slider:before {
  transform: translateX(1.5em);
}

::-webkit-search-decoration {
  display: none;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientShift 2s ease infinite;
}

html {
  scroll-behavior: smooth;
}